<div class="form-registration">
 <div class="form-main-registration">
    <div class="form-header-registration">
       <h1>会員情報登録</h1>
    </div>
      <%= form_with model:@hiker,url: hiker_registration_path, class: '#', local: true do |f| %> <%#パスは省力可能、データを送るのでHTTPはPOST %>

      <%= render 'shared/error_messages', model: f.object %>

           <div class="label-registration">
               <%= f.label :password_confirmation, "名前" %><br />
              <%= f.text_field :name, class:"registration-field" %>
           </div>

         <div class="label-registration">
            <%= f.label :email,"メールアドレス" %><br />
            <%= f.email_field :email,class:"registration-field"  %>
         </div>

          <div class="label-registration">
            <%= f.label :password,"パスワード" %>
             <%= f.password_field :password,class:"registration-field" %>
          </div>

            <div class="label-registration">
               <%= f.label :password_confirmation, "もう一度パスワード" %><br />
              <%= f.password_field :password_confirmation,class:"registration-field" %>
           </div>

            <div class="label-registration">
               <%= f.label :password_confirmation, "年齢" %><br />
              <%= f.text_field :age, class:"registration-field" %>
           </div>
            
            <div class="label-registration">
               <%= f.label :password_confirmation, "体重" %><br />
              <%= f.text_field :weight, class:"registration-field" %>
           </div>


                 <div class="registration-button">
                     <%= f.submit "新規登録",class:"registration-submit" %>
                    </div>

    <% end %>
 </div>
</div>


