
<div class='mountain-new'>
   <%= link_to '新規山登録', new_mountain_path , class: "mountain-form" %>
</div>


<ul class='mountain-lists'>
<% @mountains.each do |mountain| %>
      <li class='mountain-list'>
        <%= link_to "#" do %>
        <div class='mountain-img-content'>
          <%= image_tag(mountain.image, class: "mountain-img") %>
        </div>
        <div class='mountain-info'>
          <h3 class='mountain-name'>
            <%= mountain.name %>
          </h3>
          <div class='mountain-address'>
            <span><%= mountain.level.name %><br><%= mountain.prefecture.name %></span>
          </div>
        </div>
        <% end %>
        <% end %>
      </li>
</ul>