
<div class='mountain-new'>
   <%= link_to '新規山登録', new_mountain_path , class: "mountain-form" %>
</div>

<div class='mountain-new'>
  <div class='explanation'> \ 下の画像をクリックで山の詳細ページへ / </div>
</div>


<ul class='mountain-lists'>

<% @mountains.each do |mountain| %>
      <li class='mountain-list'>
        <%= link_to mountain_path(mountain.id) do %>
<% if mountain.level.id == 2 %>

  <div class='beginner'> \ 初心者お勧め / </div>
<% else %>
<div class = "blank"> \ ここは空白 / </div>
<% end %>

        <div class='mountain-img-content'>
          <%= image_tag(mountain.image, class: "mountain-img") %>
        </div>
        <div class='mountain-info'>
          <h3 class='mountain-name'>
            <%= mountain.name %>
          </h3>

          <div class='mountain-address'>

            
            <% if mountain.level.id == 4 %>

            &#x1f4aa; <%= mountain.level.name %> &#x1f4aa;
            
            <% else %>

            <%= mountain.level.name %>

            <% end %>
            </div>
            
            <div class='mountain-address'>
            
            <%= mountain.prefecture.name %></span>
           </div>


          
        </div>
        <% end %>
        <% end %>
      </li>
</ul>

