        
        <div class="show-name">
       <%= @mountain.name %>(<%= @mountain.elevation %>m)
       </div>
        <div class='img-show'>
          <%= image_tag(@mountain.image, class: "mountain-img-show") %>
          </div>

          <div class="show-btn">
       <%= link_to "山に登る", mountain_trekkings_path(@mountain.id) ,class:"show-go-btn"%>
       </div>
    
<div class="show">
   <div class="show-main">
     <div class="show-contents">

       <div class="show-main-content">
       <div class="show-label">山の説明</div>
       <%= @mountain.explanation %>このコースでは登頂後の下山までの目安の時間は<%= @mountain.time_mountain.name %>程度です
       </div>

       <div class="show-main-content">
       <div class="show-label">山の場所/難易度</div>
       山は<%= @mountain.prefecture.name %>の<%= @mountain.municipality %>市<%= @mountain.address %>にあり難易度は(<%= @mountain.level.name %>)程度です
       </div>

       











     </div>
   </div>
</div>