<!DOCTYPE html>
<html>
  <head>
    <title>Hikers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header-3">
  <div class="header-inner">
  <%= link_to root_path do %>
    <%= image_tag "hikers.png", class:"hikers-icon" %>
    <% end %>
    <nav class="header-nav">

<% if hiker_signed_in? %>
 <div class="header-nav-item">
        <%= link_to 'マイページ', hiker_path(current_hiker.id) , class: "header-button header-post" %>
      </div>
      <div class="header-nav-item">
      <%= link_to 'ログアウト', destroy_hiker_session_path , method: :delete, class: "header-button header-log" %>

<% else %>
      <div class="header-nav-item">
        <%= link_to '新規登録', new_hiker_registration_path , class: "header-button header-post" %>
      </div>
      <div class="header-nav-item">
      <%= link_to 'ログイン', new_hiker_session_path , class: "header-button header-log" %>
      </div>
      <% end %>
    </nav>
  </div>
</header>
    </header>
    <%= yield %>
    <footer>
    <h2 class="footer-hikers">Copyright hikers 2021.</h2>
    </footer>
  </body>
</html>
