<!DOCTYPE html>
<html>
  <head>
    <title>Hikers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header-3">
  <div class="header-inner">
    <%= image_tag "hikers.png", class:"hikers-icon" %>
    <nav class="header-nav">
      <div class="header-nav-item">
        
        <%= link_to '新規登録', new_hiker_registration_path , class: "header-button header-post" %>
      </div>
      <div class="header-nav-item">
      <%= link_to 'ログイン', new_hiker_session_path , class: "header-button header-login" %>
        
      </div>
    </nav>
  </div>
</header>
    </header>
    <%= yield %>
    <footer>
    <h2 class="footer-hikers">Copyright hikers 2021.</h2>
    </footer>
  </body>
</html>
